<center> <h1>Cadastrar Compradores</h1> </center> 
<form action="add-comprador" method="POST">
<center>
       <label>Nome:</label>
    <input type="text" name="nome_comprador"> <br><br>

    <button type="submit"> Cadastrar </button>
    
</form>
</center>
    