<center> <h1>Cadastrar Motorista</h1> </center> 
<form action="add-motorista" method="POST">
<center>
       <label>Nome:</label>
    <input type="text" name="nome_motorista"> <br><br>

    <label>Telefone:</label>
    <input type="text" name="telefone_motorista"> <br><br>

    <button type="submit"> Cadastrar </button>
    
</form>
</center>
    