<center> <h1>Cadastrar Fornecedores</h1> </center> 
<form action="add-fornecedor" method="POST">
<center>
       <label>Nome:</label>
    <input type="text" name="nome_fornecedor"> <br><br>

    <button type="submit"> Cadastrar </button>
    
</form>
</center>
    